<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644429871829-fo5mik4j6p80bmquujhgl7pe67j5kctq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644429871829-fo5mik4j6p80bmquujhgl7pe67j5kctq</string>
	<key>API_KEY</key>
	<string>AIzaSyDWkq6qQ3T9ahx2qBorr-XCzZjkiSIiPJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>644429871829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftuirecipes.FirebaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>fir-bootcamp-1a228</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-bootcamp-1a228.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644429871829:ios:fdd1301686effce1ae405c</string>
</dict>
</plist>